.grid {
  width: 90%;
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-gap: 1.3em;
  -moz-column-gap: 1.3em;
  -webkit-column-gap: 1.3em;
}

@media only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    margin: 0 5%;
    column-count: 1;
  }
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .frame {
    margin: 0 5%;
  }
}
