.illustrations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.illustrations img {
  max-width: 40%;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .illustrations img {
    max-width: none;
    width: 90%;
  }
}
