.frame .image-wrapper {
  max-width: 44.5%;
  margin: 1.3rem 1rem;
}

.frame.banner .image-wrapper {
  max-width: 50vw;
}

.grid .image-wrapper {
  margin: 1rem 0;
}

.image-wrapper {
  position: relative;
  line-height: 0;
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .image-wrapper,
  .frame .image-wrapper,
  .frame.banner .image-wrapper {
    max-width: none;
    margin: 1rem 0;
  }
}

.image-wrapper img {
  width: 100%;
  margin: 0;
}

.image-loader {
  opacity: 0;
  transition: 1s linear opacity;
}

.image-loader.loaded {
  opacity: 1;
}
