.image-wrapper {
  max-width: 40%;
  margin: 1rem;
}

.frame .image-wrapper {
  max-width: 70%;
}

.image-wrapper {
  background-color: #eee;
  position: relative;
  line-height: 0;
}

@media only screen and (max-width: 767px) {
  .image-wrapper,
  .frame .image-wrapper {
    max-width: none;
    width: 90%;
  }
}

.image-wrapper img {
  width: 100%;
  margin: 0;
}

.image-loader {
  opacity: 0;
  transition: 1s linear opacity;
}

.image-loader.loaded {
  opacity: 1;
}
