.image-wrapper {
  background-color: #eee;
  display:inline-block;
  height: 0;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.image-wrapper img {
  position: absolute;
  transition: 1s linear opacity;
  width: 100%;
}

/* Loading Effects */
.loaded {
  animation-name: loaded;
  animation-duration: 1s;
}

@keyframes loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ready {
  opacity: 0;
}
