.image-info {
  /* disabled grey mobile link */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.image-info article {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(245, 175, 83); /* may be overridden by contentful */
  color: rgb(131, 30, 87); /* may be overridden by contentful */
  opacity: 0;
  transition: 0.15s linear opacity;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}

.image-info hr {
  width: 45px;
  border: 1px solid rgb(131, 30, 87);
}

.image-info.hovered article {
  opacity: 1;
}

.image-info p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.image-info p:last-child {
  font-size: 1.2rem;
  text-transform: lowercase;
}

@media only screen and (max-width: 1200px) {
  .image-info p:first-child {
    font-size: 1.5rem;
  }
}
