.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.proj .grid {
  width: 80%;
}

@media only screen and (max-width: 767px) {
  .proj .grid {
    width: 100%;
  }
}

.banner {
  text-align: center;
  margin: 0 auto;
}

.banner img,
.banner video {
  width: 45vw;
}

/* IFrame styling - default 3000 and 1688 */

iframe {
  zoom: 0.2;
}

.proj .text {
  white-space: pre-wrap;
  padding: 5rem 10%;
  text-align: center;
}

@media only screen and (min-width: 1600px) {
  iframe {
    zoom: 0.3;
  }
}

@media only screen and (max-width: 767px) {
  .banner img,
  .banner video {
    width: 90vw;
  }
}

@media only screen and (max-width: 650px) {
  iframe {
    zoom: 0.1;
  }
}

@media only screen and (max-width: 600px) {
  iframe {
    zoom: 0.15;
  }
}

@media only screen and (max-width: 490px) {
  iframe {
    zoom: 0.11;
  }
}

.proj h3,
.proj .text > p:first-of-type {
  text-transform: uppercase;
  color: #56c292;
}

.proj .text > p:first-of-type {
  font-weight: normal;
  text-transform: none;
}

.proj hr {
  width: 50px;
  border: 1px solid rgb(238, 104, 116);
}
