.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  text-align: center;
  margin: 0 auto;
}

.banner img,
.banner video {
  width: 45vw;
}

.proj .text {
  padding: 5rem 10%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .banner img,
  .banner video {
    width: 90vw;
  }
}

.proj h3,
.proj .text > p:first-of-type {
  text-transform: uppercase;
  color: #00f;
}

.proj .text > p:first-of-type {
  font-weight: normal;
  text-transform: none;
}

.proj hr {
  width: 50px;
  border: 1px solid #ffff00;
}
