* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #333;
}

a,
a:focus,
a:visited,
a:active {
  color: #000;
}

a:hover {
  color: #ffff00;
}

.visible {
  display: block;
}
